* {
    margin: 0px;
    padding: 0px;
}
#wrapper {
    width: 960px;
    margin: 0 auto;
}
#header #logo {
    width: 50%;
    margin: 0 auto;
}
#banner {
    display: -webkit-flex; 
    display: flex; 
    border-top: 1px grey solid;
    padding: 10px;
    border-bottom: 1px solid #9a9a9a;
}
#billede {
    -webkit-flex: 2; 
    flex: 2;
}
#billede img {
    max-width: 100%; 
}
#billede_tekst {
    -webkit-flex: 1;
    flex: 1;
    text-align: center;
    margin-top: 125px;
}
#billede_tekst h2, #billede_tekst span {
    display: block;
    width: 70px;
    margin: 0 auto;   
    font-style: italic;
    font-size: 32px;
    letter-spacing: 5px;
}
#ads {
    display: -webkit-flex; 
    display: flex; 
}
#ads .ad {
   -webkit-flex: 1; 
    flex: 1;
    padding: 20px;
    border-right: 1px solid #ccc;
    padding-right: 30px;
    margin-top: 25px;
    text-align: center;
}
#ads .ad:nth-child(3) {
       border-right: none;
}
#ads .ad img {
    width: 100%;
    margin-top: 5px;
    height: 143px;
    height: 143px;
}
#ads .ad span {
    width: 215px;
    display: block;
    margin: 0 auto;   
    font-style: italic;
    font-size: 32px;
    letter-spacing: 5px;
}
#ads .ad p {
 line-height: 25px;
  letter-spacing: 1px;   
}
#signUp {
    border: 1px gray solid;
    width: 542px;
    padding: 10px;
    margin-bottom: 15px;
    margin-top: 10px;
}
#signUp p  {
    float: left;
    margin-right: 25px; 
}